.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px;
  position: absolute;
  top: 0;
  z-index: 10;
  background: transparent;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-left: -55px;
  text-decoration: none;
}
.nav {
  display: flex;
  margin-right: -1500px;
}
.nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 24px;
  position: relative;
}

.nav a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ff2e2e;
  position: absolute;
  bottom: -9px;
  left: 0;
}