.header {
  display: flex;
  align-items: center;
  padding: 35px 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: auto;
}

.nav {
  display: flex;
  position: absolute;
  right: 60px; /* 완전 오른쪽에 붙이기 */
}

.nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 24px;
  position: relative;
}

.nav a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #ff2e2e;
  position: absolute;
  bottom: -9px;
  left: 0;
}